.wrapper {
  width: 834px;
}

.tabs {
  padding-top: 10px;
  padding-bottom: 12px;
}

.contentWrapper {
  height: 510px;
}

.dropdownActions {
  min-width: 292px;
}

.paymentPurpose {
  width: 70%;
  max-width: 500px;
  height: 50px;
  text-align: right;
}
