@mixin clamp {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.organization-name {
  @include clamp;
}

.action {
  width: 32px;
  height: 24px;
  margin: 0 4px;
  padding: 0;
}
