@import 'common.scss';

.wrapper {
  flex: 0 0 auto;
}

.filterWrapper {
  padding: 12px 32px;
  background-color: var(--line-fill-faint-weak);
}

.groupingPanelWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 32px;
}

.important.groupingLeftColumn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.important.groupingRightColumn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.totalsWrapper {
  position: relative;
  padding: 16px 32px 12px;
}

.totalsRow {
  display: flex;
  justify-content: flex-end;
}

.totalsRowWrapper {
  position: relative;
}

.totalsCell {
  display: flex;
  justify-content: flex-end;
  width: 224px;
  padding: 0 16px;
  &:first-child {
    padding-left: 8px;
  }
  &:last-child {
    padding-right: 8px;
  }
}

.totalSpinnerWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 68px; // Высота когда в таблице одна запись.
}

.groupingFieldWrapper {
  width: 240px;
  min-width: 240px;
}

.groupingField {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  & * {
    font-size: 14px;
  }
  & svg {
    width: 20px;
    height: 20px;
  }
}
