.node-with-outline {
  &:focus {
    border-radius: 2px;
    outline: 2px solid #508be2;
  }
}

.node-with-border {
  border: 2px solid transparent;

  &:focus {
    border-radius: 2px;
    border: 2px solid #508be2;
  }
}

.node-without-outline {
  outline: none;
}

.tree {
  &:focus {
    outline: none;
  }
}
