@import '~@platform/ui/dist/streams/ui/common';

.tableWrapper {
  position: relative;
  height: 100%;
}

.table {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.tableBody {
  padding: 0 8px;
}

.headerRowWrapper {
  padding: 0 32px;
}

.headerRow {
  border-bottom: 1px solid #e3e5ec;
}

.groupingRow {
  padding: 24px 8px 12px;
  background-color: #fff;
}

.groupingRowByAccount {
  background-color: #fff;
  border-bottom: 1px solid var(--box-lightdown-fill-faint-weak);
}

.borderedRow {
  border-bottom: 1px solid var(--box-lightdown-fill-faint-weak);
}

.clickableRow {
  cursor: pointer;
}

.cell {
  padding: 12px 16px;
  &:first-child {
    padding-left: 8px;
  }
  &:last-child {
    padding-right: 8px;
  }
}

.headerCell {
  @extend .cell;

  position: relative;
  user-select: none;
}

.headerColumnDelimiter {
  position: absolute;
  top: 12px;
  right: 0;
  width: 1px;
  height: 20px;
  background-color: #b8bdce;
}

.scrollIconBox {
  position: absolute;
  right: 50px;
  bottom: 17px;
  z-index: getIndex(control);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  cursor: pointer;
  opacity: 0.4;
}

.sortIconWrapper {
  height: 16px;
  margin-right: 4px;
}

.toggleButton {
  padding: 8px;
}

.layoutScrollWrapper {
  position: relative;
  flex: 1 1 0;
  padding: 0 24px;
}

.placeholderOverlay {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.collapsedRow {
  position: static;
}

.portal {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: getIndex(specific_element_accent);
  padding: 0 8px;
  background-color: #fff;
}
