.btn {
  border: none;
}

.tag {
  align-items: center;
  box-sizing: border-box;
  max-width: 320px;
  height: 32px;
  margin-bottom: 8px;
  padding: 6px 12px;
  overflow: hidden;
  background-color: var(--box-lightdown-fill-faint-weak);
}

.tagBtn {
  background-color: var(--line-fill-base-weak);
}

.valueWrapper {
  overflow: hidden;
}

.tagsWrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: -8px;
}
