@keyframes pulse {
  to {
    background-position: 350% 0, 0 0;
  }
}

.base {
  --background-color: #f8f8f9;
  --blur-color: linear-gradient(to right, var(--background-color), #eef1f3, #e7ebef, #eef1f3, var(--background-color));

  background: var(--blur-color), var(--background-color);
  background-repeat: no-repeat;
  background-position: -150% 0, 0 0;
  background-size: 50%, 100%;
  border-radius: 4px;
  animation: pulse 1.5s ease-in-out infinite;
}
