.periodType {
  width: 200px;
}

.periodTypeWrapper {
  width: 195px;
}

.date {
  flex-grow: 1;
}

.accounts {
  width: 100%;
}

.email {
  width: 532px;
}

.row {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
  max-width: 718px;

  &Label {
    width: 162px;
  }

  &Children {
    width: 100%;
    //line-height: 32px; // Значение равно высоте текстовых полей формы;
  }
}
