.scrollerLayoutContent {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  height: 100%;
}

.categoryTabs {
  flex: 0 0 auto;
  padding: 0 32px;
}
