.fieldWrapper {
  flex: 1 1 224px;
}

.statementInfoWrapper {
  flex: 0 0 auto;
  padding: 0 32px;
}

.counterpartyField {
  width: 100%;

  [data-action='clear'] {
    min-width: auto;
  }
}

.titleStatementInfoItem {
  color: #7c8793;
}
